[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tox = "*"
ipython = "*"
flask-rest-engine = {editable = true,path = "."}
pytest = "*"
flask = "*"
flask-restful = "*"
markupsafe = "*"
gunicorn = "*"
decorator = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]
sphinx-autobuild = "*"
cx-Oracle = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
flake8 = "*"
twine = "*"
mypy = "*"
mypy-extensions = "*"
Sphinx = "*"
Flask-Sphinx-Themes = "*"
cryptography = "*"
click = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
