from flask_sqlalchemy import SQLAlchemy
from flask_migrate import Migrate
from flask_marshmallow import Marshmallow
from flask_restful import Api
{%- if celery %}
from celery import Celery
{%- endif %}

db = SQLAlchemy()
migrate = Migrate()
ma = Marshmallow()
{%- if celery %}
celery = Celery()
{%- endif %}
api = Api()

